body {
	background-image: url(../image/bj.gif);
}
h1 {
	padding-top: 0.5em;
	padding-bottom: 1em;
	text-shadow: 0.1em 0.1em 0.05em #00f5ff;
}
.form-inline {
	box-shadow: 0 0 3px #00f5ff;
	padding: 0.5em;
}
#search_result {
	background: #fff;
	box-shadow: 0 0 3px #00f5ff;
	padding: 0.5em;
	position: absolute;
	z-index: 1;
}

#up_site_info {
	margin-top: 1em;
}

.list-group {
	margin-top: 0.5em;
	font-size: 2em;
}
